body{
  
}

.form {
    
    border: 1px solid gray;
    border-radius: 10px;
margin: 0 auto;
    background-color: white;
   width: 50%;
    padding: 20px;
    font-size: 12px;
   
   font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 gap: 15px;



}
h1{
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
    font-family: "Mukta", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.usertable{
    
    width: 100%;
    border-collapse: collapse;
  
    font-size: .9em;
    min-width: 400px;
   


}

.usertable thead tr {
    background-color: rgb(13, 121, 222);
    color: white;
    text-align: left;
   font-weight: bold;
   

}


.usertable th, .usertable td{

    
    padding: 120px, 12px;
}


.usertable tbody tr:nth-of-type(even){
    background-color: rgb(178, 215, 249);


}
.usertable tbody tr:nth-of-type(odd){
    background-color: rgb(223, 240, 247);


}



.usertable th{
    padding:  10px;
}

.usertable td{

    padding:  5px 10px;
}
 
.form div{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 5px;

}

.form div input {
    padding: 8px 5px;
    border-radius: 5px;
    border: 1px solid gray;

}

button{
    padding: 8px;
    background-color: rgb(13, 121, 222);
    color: white;
    border: none;
    border-radius: 5px;
}

.btn{
    display: flex;
    gap: 3px;
}

.main-div{
    max-width: 800px;
    margin: 0 auto;
}